body {
  background-color: black;
  color:white;

}



.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.statistics {
  margin-bottom: 20px;
}

.filters {
  margin-bottom: 20px;
}

.anime-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.anime-item {
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px;
}
